/*config global*/
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    background-color: #414141;
    color: azure;
    width: 99vw;
}
/*skill*/
h3{
    color: palevioletred;
}
/*apresentacao*/
#eu_apresentacao{
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
    width: 99vw;
    height: auto;
    box-sizing: border-box;

}

#eu_apresentacao h1{
    color: yellow;
    font-size: 10vh;
    text-align: center;
    

}
#eu_apresentacao h2{
    color: rgb(52, 235, 28);
    font-size: 5vh;
    text-align: center;

    

}
#eu_apresentacao h3{
    
}
/*habilidades*/
#habilidades{
    background-color: #313131be;
    width: 100vw;
    font-size: 1.2em;
    display: flex;
    align-content: center;
    flex-direction: row; /*direção da esquerda para direita*/
    flex-wrap: wrap;
    justify-content: space-around;
    

}
#habilidades p, h3{
    padding: 10px;
    width: 20vw;
    

}
#habilidades p{
    

    text-align: justify;
}
#habilidades h3{
   margin: 1px;
   font-size: 1.7em;
   text-align: center;
   color: rgb(255, 17, 215);
   


}
.gif{
    width: 35%;
    height: 400px;
    

}
/*contato*/
#contato{
    clear: both;
    

}

/*sobre*/
#sobre{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  12vh 0;
    width: 45vw;
    
    height: auto;
}
#sobre h3{
    
    margin: 1vh;
    width: 20vw; 
    font-size: 4vh;
    margin: 0 auto;
}
#sobre p{
    margin-top: 2vh;
    text-align: center; 
    font-size: 3vh;   

}
/*menu*/
.nome_animado {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: "Special Elite", monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
  }

  .nome_animado {
    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 10s steps(40) 1s normal both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 16em;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
}