/*config global*/
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    background-color: #414141;
    color: azure;
    margin: 10px auto;
}
#corpo{
    
    
}
h1, h2, h3{
    text-align: center;
    padding: 20px;
}

/*skill*/
h3{
    color: palevioletred;
}
/*apresentacao*/
#eu_apresentacao{
    width: auto;
    height: auto;
    margin-bottom: 4vw;
    clear: both;
}
#eu_apresentacao h1{
    color: yellow;
    font-size: 65px;
}
#eu_apresentacao h2{
    color: rgb(52, 235, 28);
    font-size: 32.5px;
}
#eu_apresentacao h3{
    color: rgb(52, 235, 28);
    font-size: 28.5px;
}
/*habilidades*/
#habilidades{
    background-color: #313131be;
    width: 100vw;
    font-size: 1.2em;
    display: flex;
    margin: 0px 1px;
    align-content: center;
    flex-direction: row; /*direção da esquerda para direita*/
}
#habilidades p, h3{
    padding: 10px;
}
#habilidades p{
    text-align: justify;
}
#habilidades h3{
   margin: 1px;
   font-size: 1.7em;
   color: rgb(255, 17, 215);

}
.gif{
    width: 35%;
    height: 400px;
}
/*contato*/
#contato{
    clear: both;
}