*{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

h1, h2{
    margin-left: 24%;
    text-decoration: dotted;
    color: rgb(255, 0, 179);
    size: 60px;
    text-align: center;
}
h3{
    margin-left: 40.5%;
    text-decoration: dotted;
    color: rgb(255, 0, 179);
    text-align: center;
}
#apresentacao h2, h3{
    color: red;
    margin-top: auto;
}
#clear{
    clear: both;
}
/*fotos*/
.ft-eu{
    float: left;
    margin-left: 34%;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#img-rede{
    width: 30px;
    height: 30px;
}
.rede-contato{
    float: left;
    margin-left: 43.5%;
} 

/*conteudo*/
#apresentacao{
    clear: both;
    width: 80%;
    margin: 10px auto;
    display: block;

}
.paprincipal{
    clear: both;
    color: #FFF;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border: 1px solid red;
    text-align: center;
}